@{
 
}

<div class="env2-content-wrapper">
    <div class="float-right">
        <p><strong>&copy; @DateTime.Now.Year - @this.Env2Html().Env2Label</strong></p>
    </div>

    <div class="float-left">
        <p><a href="~/About" title="Info about the project + video tutorials">About</a></p>
    </div>
    <div class="float-left">
        <p><a href="~/KB/Links" title="Useful links in one place">Useful Links</a></p>
    </div>
    <div class="float-left">
        <p><a href="~/KB/Dev" title="Developers tips to follow">Dev Tips</a></p>
    </div>
</div>

@using env2.Web.WebPages