@{
    this.SetTitle("About");
}

<hgroup class="title">
    <h2>About the portal</h2>
</hgroup>

<article>
    <p>Thank you for your interest to the Env2-portal!</p>
    <p>
        It provides WEB interface for countless set of SQL-scripts which will never be implemented in your product.
        All of these scripts are really useful for effective product development.
    </p>
    <p>
        To learn more about Env2 portal, visit
        <a href="https://github.com/magicmanam/env2" title="Env2 portal description">https://github.com/magicmanam/env2</a>.
        The page features <mark>modules, source code, and samples</mark> to help you get the most from Env2 portal idea.
        If you have any questions about Env2 portal, visit our
        <a href="https://github.com/magicmanam/env2/wiki" title="Env2 Wiki">Wiki</a>.
    </p>
    <p>Enjoy your environments and have a nice working day!</p>
</article>

<aside>
</aside>

@using env2.Web.WebPages