################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/obj
/.vs
/Web/bin/Debug/netcoreapp2.1
