<hgroup class="title">
    <h2>Java Script</h2>
</hgroup>

<div class="env2-dev-tip">
    In case of JS-file update, refresh all its references with incremented version number ( ~/Sctipts/file.js?v=1.1 ).
</div>

<div class="env2-dev-tip">
    All AJAX-requests which pass any data from user inputs should be POST, because GET requests with data from XSS-injected inputs can be HTTP redirected by XSS-protection modules.
</div>