<hgroup class="title">
    <h2>Web</h2>
</hgroup>

<div class="env2-dev-tip">
    Always create HttpOnly-cookies (<strong>new HttpCookie { HttpOnly = true }</strong> in C#) - for security reason.
</div>

<div class="env2-dev-tip">
    Placeholder for tip
</div>