@{ this.SetTitle("Links"); }

<div>
    <hgroup class="title">
        <h1>Links</h1>
    </hgroup>

    <p>Home page for <a target="_blank" href="https://github.com/magicmanam/env2">Env2 project</a>. Fork it and gift a star! Thanks for using!</p>
    @*<p><a target="_blank" href=""></a></p>*@
</div>

@using env2.Web.WebPages